################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SOLIDPrinciple
/SOLIDPrinciple/bin/Debug/net8.0
/SOLIDPrinciple/obj
